.icon-10 > svg {
  width: 10px;
  height: 10px;
}

.icon-12 > svg {
  width: 12px;
  height: 12px;
}

.icon-14 > svg {
  width: 14px;
  height: 14px;
}

.icon-16 > svg {
  width: 16px;
  height: 16px;
}

.icon-18 > svg {
  width: 18px;
  height: 18px;
}
