.button {
  padding: 10px 20px;
  max-width: 200px;
  width: 100%;
  color: var(--black);
  font-size: 24px;
  font-weight: 600;
  background-color: var(--orange);
  border-radius: 10px;
  transition: 0.3s;

  &:hover {
    background-color: rgb(238, 155, 0);
  }
}

