.post {
  padding: 15px 30px;
  margin: 0 auto;
  position: relative;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 30px;
  max-width: 1400px;
  border-radius: 5px;
  background-color: var(--greyD9);

  & > button {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.post.forModal {
  padding: 5px;
  margin: 0;
}

.post.forModal > div:first-child > h1 {
  font-size: 14px;
}

.post.forModal > div:first-child > a {
  font-size: 12px;
}

@media all and (min-width: 992px) {
  .post.forModal {
    padding: 15px 30px;
    flex-direction: row;
  }
}

@media all and (min-width: 992px) {
  .post {
    flex-direction: row;
  }

  .post > div:nth-child(3) {
    width: 40%;
  }
}

@media all and (min-width: 576px) {
  .post > div:nth-child(3) {
    width: 55%;
  }
}
