.post {
  padding: 15px 30px;
  margin: 0 auto;
  position: relative;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 30px;
  max-width: 1400px;
  border-radius: 5px;
  background-color: var(--greyD9);

  & > button {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
}


@media all and (min-width: 756px) {
  .post  {
    flex-direction: row;
    // margin-top: 200px;
  }
}
